  
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:rgb(83, 17, 17);
    color: white;
    text-align: center;
    padding: 12px;   
 }
.container-main {
padding-left: 300px;
padding-right: 300px;
padding-top: 10px;
}


