  
body, html {
  background-image: url("../images/waterfall.jpg");
  height: 100%;
  background-position: center;
  background-size: cover;
  margin-bottom: 40px;
}
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:rgb(83, 17, 17);
    color: white;
    text-align: center;
    padding: 12px;   
 }
.container-main {
padding-bottom: 60px;
padding-top: 10px;
}


